<form method="put" action=`/items`>
    <label for="itemName">Item name</label>
    <input name="itemName" type="text">
    <br><br>
    <label for="itemPrice">Item price</label>
    <input name="itemPrice" type="text">
    <br><br>
    <button type="submit">Save</button>
</form>